<div class="row">
	<h2>
		Hi There! You can search for Avengers by typing in the box below
	</h2>
	<form action="">
		  <div class="input-field col s12">
	          <input id="search" type="text" class="validate" />
	          <label for="search">Search</label>
          </div>
	</form>

</div>



<div class="row">

<a href="#/single/{{avenger.id}}" class="avenger-card hoverable col s12 m6 animated zoomIn" ng-repeat="avenger in avengers">
  <div class="card">
    <div class="card-image">
      <img src="{{avenger.image}}">
      <span class="card-title">{{avenger.name}}</span>
    </div>
    <div class="card-content">
      <p> {{avenger.description | limitTo:200}} </p>
    </div>
    <!-- <div class="card-action">
      <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Read More</a>
    </div> -->
  </div>
</a>

</div>
    